In [1]:
import pandas as pd
import pymongo
import os
import sys
import inspect
import datetime

In [2]:
# Database
client = pymongo.MongoClient(input())
database = client['bts_advisor']
collection = database['statcast']

 mongodb+srv://peteb206:Spartans_1@cluster0.5ml4i.mongodb.net

In [12]:
# Put in a DataFrame
today = datetime.date(2021, 8, 18)
orig_df = pd.DataFrame(collection.find())
statcast_df = orig_df[orig_df['game_date'] < today.strftime('%Y-%m-%d')]
statcast_df

,_id,game_date,game_pk,player_name,team,opponent,batter,batter_handedness,pitcher,pitcher_handedness,starter_flg,events,home_away,hit,xBA,statcast
0,634615_1,2021-04-01,634615,"Betts, Mookie",LAD,COL,605141,R,608566,R,True,single,away,1,0.794,True
1,634615_2,2021-04-01,634615,"Seager, Corey",LAD,COL,608369,L,608566,R,True,single,away,1,0.606,True
2,634615_3,2021-04-01,634615,"Turner, Justin",LAD,COL,457759,R,608566,R,True,grounded_into_double_play,away,0,0.140,True
3,634615_4,2021-04-01,634615,"Bellinger, Cody",LAD,COL,641355,L,608566,R,True,walk,away,0,0.000,True
4,634615_5,2021-04-01,634615,"Muncy, Max",LAD,COL,571970,L,608566,R,True,field_out,away,0,0.063,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133311,633291_58,2021-08-17,633291,"Vázquez, Christian",BOS,NYY,543877,R,642528,R,False,single,away,1,0.477,True
133312,633291_59,2021-08-17,633291,"Verdugo, Alex",BOS,NYY,657077,L,642528,R,False,single,away,1,0.303,True
133313,633291_60,2021-08-17,633291,"Shaw, Travis",BOS,NYY,543768,L,642528,R,False,field_out,away,0,0.513,True
133314,633291_61,2021-08-17,633291,"Hernández, Enrique",BOS,NYY,571771,R,642528,R,False,strikeout,away,0,0.000,True
133315,633291_62,2021-08-17,633291,"Renfroe, Hunter",BOS,NYY,592669,R,642528,R,False,strikeout,away,0,0.000,True

In [4]:
base_directory = os.path.dirname(os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe()))))
base_directory

'/Users/peterberryman/Desktop/bts_advisor'

In [5]:
sys.path.insert(0, base_directory)
from app import calculate_hit_pct

In [6]:
# Hit %
hit_pct_df = calculate_hit_pct(statcast_df)
hit_pct_df

calculate_hit_pct() time: 0:00:00

     player_id       player_name   H  xH_per_G    G   hit_pct  x_hit_pct
0       405395    Pujols, Albert  58  0.787880   83  0.566265   0.385542
1       408234   Cabrera, Miguel  85  0.887404   94  0.585106   0.446809
2       425772      Mathis, Jeff   0  0.177333    3  0.000000   0.000000
3       425784      Rivera, René  15  0.600609   23  0.478261   0.217391
4       425794  Wainwright, Adam   3  0.288880   25  0.080000   0.040000
..         ...               ...  ..       ...  ...       ...        ...
963     680911      Miller, Owen  15  0.594375   32  0.375000   0.156250
964     680963      Wilson, Cody   0  0.009000    1  0.000000   0.000000
965     681911       Vesia, Alex   0  0.000000    3  0.000000   0.000000
966     683232       Mears, Nick   0  0.000000    1  0.000000   0.000000
967     683734    Vaughn, Andrew  88  0.859990  102  0.607843   0.366337

[968 rows x 7 columns]

In [7]:
# Hit % (last 7 days)
seven_days_ago = today - datetime.timedelta(days=7)
hit_pct_7_df = calculate_hit_pct(statcast_df[statcast_df['game_date'] >= seven_days_ago.strftime('%Y-%m-%d')])
hit_pct_7_df

calculate_hit_pct() time: 0:00:00

     player_id       player_name  H  xH_per_G  G   hit_pct  x_hit_pct
0       405395    Pujols, Albert  2  0.417000  3  0.666667       0.00
1       408234   Cabrera, Miguel  4  0.588000  5  0.400000       0.40
2       425794  Wainwright, Adam  2  0.640000  2  0.500000       0.00
3       425877    Molina, Yadier  5  1.249800  5  0.600000       0.80
4       435559      Suzuki, Kurt  3  0.746500  4  0.500000       0.25
..         ...               ... ..       ... ..       ...        ...
494     680776     Duran, Jarren  5  0.995400  5  0.800000       0.40
495     680777     Jeffers, Ryan  3  0.736500  4  0.750000       0.25
496     680911      Miller, Owen  3  0.845200  5  0.400000       0.20
497     683232       Mears, Nick  0  0.000000  1  0.000000       0.00
498     683734    Vaughn, Andrew  5  0.738833  6  0.666667       0.40

[499 rows x 7 columns]

In [8]:
# H / PA vs Relievers
relievers_df = statcast_df[statcast_df['starter_flg'] == False]
xBA_vs_bullpen_df = relievers_df.groupby('batter')['hit'].mean().reset_index().rename({'batter': 'player_id', 'hit': 'H_per_PA'}, axis=1).sort_values(by='H_per_PA', ascending=False)
xBA_vs_bullpen_df

     player_id  H_per_PA
707     664062  1.000000
257     592866  0.666667
824     676840  0.666667
659     660623  0.666667
614     656514  0.500000
..         ...       ...
669     661269  0.000000
516     641745  0.000000
254     592836  0.000000
672     663378  0.000000
80      502624  0.000000

[835 rows x 2 columns]

In [9]:
# H / PA vs Pitcher Hand
xBA_vs_pitcher_hand_df = statcast_df.groupby(['batter', 'pitcher_handedness'])['hit'].mean().reset_index().rename({'batter': 'player_id', 'pitcher_handedness': 'vs', 'hit': 'H_per_PA'}, axis=1).sort_values(by='H_per_PA', ascending=False)
xBA_vs_pitcher_hand_df

      player_id vs  H_per_PA
1312     656876  L       1.0
131      488984  L       1.0
592      595375  L       1.0
839      608723  L       1.0
972      623485  R       1.0
...         ... ..       ...
1171     643327  R       0.0
1174     643377  L       0.0
607      595928  R       0.0
294      543243  L       0.0
874      621052  R       0.0

[1748 rows x 3 columns]

In [10]:
# H / PA vs Batter Hand
xBA_vs_batter_hand_df = statcast_df.groupby(['pitcher', 'batter_handedness'])['hit'].mean().reset_index().rename({'picher': 'player_id', 'batter_handedness': 'vs', 'hit': 'H_per_PA'}, axis=1).sort_values(by='H_per_PA')
xBA_vs_batter_hand_df

      pitcher vs  H_per_PA
817    621011  R       0.0
156    502210  L       0.0
607    597113  R       0.0
679    605501  R       0.0
693    605541  R       0.0
...       ... ..       ...
575    595881  L       1.0
100    475054  L       1.0
615    600887  R       1.0
632    605155  L       1.0
1622   680692  R       1.0

[1635 rows x 3 columns]

In [18]:
# Starters
starters_list = orig_df[(orig_df['game_date'] == today.strftime('%Y-%m-%d')) & (orig_df['starter_flg'] == True)]['pitcher'].unique().tolist()
starters_list

[626929,
 668676,
 641816,
 592716,
 656427,
 642547,
 528748,
 624133,
 545343,
 657093,
 543101,
 656731,
 571760,
 601713,
 458681,
 621112,
 592314,
 594835,
 680686,
 621244,
 663903,
 425844,
 669373,
 660271,
 592346,
 453562,
 666200,
 450203,
 677865,
 664141]

In [25]:
# Merge data
merge1 = pd.merge(hit_pct_df, hit_pct_7_df, on=['player_id', 'player_name'], suffixes=('', '7'))
merge2 = pd.merge(merge1, xBA_vs_bullpen_df, on='player_id').rename({'H_per_PA': 'H / PA (BP)'}, axis=1)
merge2

,player_id,player_name,H,xH_per_G,G,hit_pct,x_hit_pct,H7,xH_per_G7,G7,hit_pct7,x_hit_pct7,H / PA (BP)
0,405395,"Pujols, Albert",58,0.787880,83,0.566265,0.385542,2,0.417000,3,0.666667,0.00,0.275591
1,408234,"Cabrera, Miguel",85,0.887404,94,0.585106,0.446809,4,0.588000,5,0.400000,0.40,0.179104
2,425794,"Wainwright, Adam",3,0.288880,25,0.080000,0.040000,2,0.640000,2,0.500000,0.00,0.153846
3,425877,"Molina, Yadier",82,0.996756,90,0.600000,0.477778,5,1.249800,5,0.600000,0.80,0.205882
4,435559,"Suzuki, Kurt",37,0.666241,54,0.518519,0.259259,3,0.746500,4,0.500000,0.25,0.244444
...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,680776,"Duran, Jarren",18,0.738783,23,0.565217,0.347826,5,0.995400,5,0.800000,0.40,0.179487
479,680777,"Jeffers, Ryan",37,0.748453,53,0.509434,0.301887,3,0.736500,4,0.750000,0.25,0.177215
480,680911,"Miller, Owen",15,0.594375,32,0.375000,0.156250,3,0.845200,5,0.400000,0.20,0.115385
481,683232,"Mears, Nick",0,0.000000,1,0.000000,0.000000,0,0.000000,1,0.000000,0.00,0.000000
482,683734,"Vaughn, Andrew",88,0.859990,102,0.607843,0.366337,5,0.738833,6,0.666667,0.40,0.245399

In [46]:
def calculate_hit_per_pa(statcast_df):
    start_time = time.time() # Start timer

    #batter_vs_pitcher_hand_df = statcast_df.groupby(['batter', 'pitcher_handedness'])['hit'].mean().reset_index().rename({'batter': 'player_id', 'pitcher_handedness': 'vs', 'hit': 'H_per_PA'}, axis=1)
    batter_vs_pitcher_hand_df = statcast_df.pivot_table(values='hit', index='batter', columns='pitcher_handedness').reset_index().rename({'batter': 'player_id'}, axis=1)

    batter_vs_relievers_df = statcast_df[statcast_df['starter_flg'] == False].groupby('batter')['hit'].mean().reset_index().rename({'batter': 'player_id', 'hit': 'H_per_PA'}, axis=1).sort_values(by='H_per_PA', ascending=False)

    pitcher_vs_batter_hand_df = statcast_df[statcast_df['pitcher'].isin(starters_list)].groupby(['pitcher', 'batter_handedness'])['hit'].mean().reset_index().rename({'pitcher': 'player_id', 'batter_handedness': 'vs', 'hit': 'H_per_PA'}, axis=1)

    #stop_timer('calculate_hit_per_pa()', start_time) # Stop timer
    return batter_vs_pitcher_hand_df, batter_vs_relievers_df, pitcher_vs_batter_hand_df
calculate_hit_per_pa(statcast_df)

(pitcher_handedness  player_id         L         R
 0                      405395  0.291667  0.169118
 1                      408234  0.280374  0.199275
 2                      425772  0.000000  0.000000
 3                      425784  0.233333  0.181818
 4                      425794  0.000000  0.071429
 ..                        ...       ...       ...
 960                    680911  0.173077  0.105263
 961                    680963       NaN  0.000000
 962                    681911  0.000000  0.000000
 963                    683232       NaN  0.000000
 964                    683734  0.272727  0.218045

 [965 rows x 3 columns],
      player_id  H_per_PA
 707     664062  1.000000
 257     592866  0.666667
 824     676840  0.666667
 659     660623  0.666667
 614     656514  0.500000
 ..         ...       ...
 669     661269  0.000000
 516     641745  0.000000
 254     592836  0.000000
 672     663378  0.000000
 80      502624  0.000000

 [835 rows x 2 columns],
     player_id vs  H_per_PA
 0      425844  L  0.177570
 1      425844  R  0.259669
 2      450203  L  0.166667
 3      450203  R  0.201954
 4      453562  L  0.268182
 5      453562  R  0.284946
 6      458681  L  0.200000
 7      458681  R  0.171171
 8      528748  L  0.206897
 9      528748  R  0.162162
 10     543101  L  0.222656
 11     543101  R  0.183824
 12     545343  L  0.076923
 13     545343  R  0.175439
 14     571760  L  0.254098
 15     571760  R  0.219653
 16     592314  L  0.253012
 17     592314  R  0.239286
 18     592346  L  0.283654
 19     592346  R  0.266304
 20     594835  L  0.168317
 21     594835  R  0.243446
 22     601713  L  0.180000
 23     601713  R  0.207430
 24     621244  L  0.239852
 25     621244  R  0.164384
 26     624133  L  0.061538
 27     624133  R  0.146341
 28     626929  L  0.250000
 29     626929  R  0.217391
 30     641816  L  0.158301
 31     641816  R  0.236934
 32     642547  L  0.121673
 33     642547  R  0.124402
 34     656427  L  0.179856
 35     656427  R  0.155556
 36     656731  L  0.258065
 37     656731  R  0.172414
 38     657093  L  0.202703
 39     657093  R  0.270588
 40     660271  L  0.188776
 41     660271  R  0.132597
 42     663903  L  0.252066
 43     663903  R  0.262295
 44     664141  L  0.235556
 45     664141  R  0.211765
 46     666200  L  0.216667
 47     666200  R  0.270270
 48     668676  L  0.218579
 49     668676  R  0.227907
 50     669373  L  0.258065
 51     669373  R  0.212346
 52     677865  L  0.153846
 53     677865  R  0.142857
 54     680686  L  0.162791
 55     680686  R  0.232143)

In [27]:
import time